/* font set up */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* page set up */
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* navbar style */
header {
    color: white;
    background-color: #010B40;
    height: 80px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-text {
    font-size: 1.2em;
    font-weight: 700;
}

.nav-info ul {
    display: flex;
    list-style: none;
}

.nav-info ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 15px;
    margin: 0 5px;
}

.nav-info>ul>li>a:hover {
    color: #94C6F2;
}

/* banner style */
.banner-part {
    background-color: rgba(148, 198, 242, 0.5);
    height: calc(100vh - 80px);
    color: #010B40;
}

.banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

.banner-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.banner-left h1 {
    font-size: 4em;
}

.banner-left p {
    line-height: 1.5em;
    margin: 20px 0;
}

.gear-button {
    color: white;
    background-color: #010B40;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
    border: 2px solid #010B40;
}

.gear-button:hover {
    color: #010B40;
    background-color: white;
    border: 2px solid #010B40;
    transition: .6s ease-in-out;
}

.banner-right {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./images/Circle\ design.svg');
    background-repeat: no-repeat;
}

/* logo style */
.logo {
    margin: 30px 0;
    padding: 30px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* product style */
.product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin: 50px 0;
}

.item {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.10);

}

.item-img img {
    width: 100%;
    object-fit: cover;
}

.item-info {
    line-height: 2em;
}

.item-info p i {
    color: sandybrown;
}

.item-info h2 {
    margin: 10px 0;
    color: #010326;
}

.more {
    float: right;
}

.section-title {
    color: #010B40;
    text-align: center;
    margin: 20px 0;
    font-size: 1.5em;
}

/* feature style */
.gap {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* footer style */
footer {
    background-color: #010B40;
    color: white;
    padding: 50px;
}

.info {
    text-align: center;
}

.info p {
    margin: 10px 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 10px 0;
}

.social a {
    color: white;
    padding: 10px;
}

/* responsive mobile */
@media only screen and (max-width:668px) {

    .banner img {
        width: 60%;
    }

    .product,
    .banner {
        grid-template-columns: 1fr;
    }

    .logo {
        flex-direction: column;
    }
}

/* responsive tablet */
@media only screen and (min-width:669px) and (max-width:992px) {

    .banner,
    .product {
        grid-template-columns: 1fr 1fr;
    }
}