/* font set up */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

/* page set up */
* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* navbar style */
header {
    color: white;
    background-color: #010B40;
    padding: 15px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-text {
    font-size: 1.2em;
    font-weight: 700;
}

.nav-info ul {
    display: flex;
    list-style: none;
}

.nav-info ul li {
    font-weight: 500;
    padding: 15px;
    margin: 0 10px;

}

.nav-info ul li a {
    color: white;
    text-decoration: none;
}